.prodcontainer {
    width: 100%;
    margin: 1%;
    padding-left: 0px;
    padding-right: 0px;
}

.imgContainer {
    width: 40%; 
    margin: 1%;
    display: inline-block;
}

.prod-image {
    display: inline-block;
    width: 50px; 
    height: 50px; 
    border-radius: 20%;
    margin: auto;
    background: 50% 50% no-repeat;
}

.rhsContainer {
    width: 50%;
    margin: 1%;
    float: right;
}

.label {
    display: inline-block;
    font-size: 14px;
    width: 100%;
    margin: 0%;
}
