.home-search{
    padding:10px;
    width: 100%;
    margin-top: 30px;
}

.home-search-text{
    width:50%;
    height: 35px;
    border-radius: 20px;
    margin-right: 10px;
    outline-style:inherit;
    padding-left: 20px;
}

.cat-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    color: #1FB25A;
    padding-top: 10px;
    cursor: pointer;
    font-size: larger;
    padding-left:0 !important;
}

.cat-text.active{
    font-weight: bold;
}

.filter-header{
    color:#1B7A41;
    font-weight: bold;
}

.home-filter {
    padding-top: 36px;
    padding-left: 40px;
}

.clear-search {
    color: #1FB25A;
    padding-left: 30px;
}

.selected-cat{
    font-weight: bold;
}