#veg-grid {
    padding-left:20px;
    margin-right:50px;
    padding:20px;
    width: 100%;
}

.veg-cards {
    /* padding: 10px; */
    margin: 1 auto;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    /* grid-template-columns: 1fr 1fr 1fr; */
}

.veg-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 30px;
    height: 290px;
    width: 290px;
    background-color: white;
}
  
.veg-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.text-container {
    padding: 2px 36px;
    margin-top: 10px;
    float:left;
}

.price-container {
    padding: 2px 36px;
    margin-top: 10px;
    float:right;
}

.veg-img {
    border-radius: 30px 30px 0px 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-container {
    height:80%;
    width: 100%;
    border-radius: 30px 30px 0px 0px;
    background-color: black;
}

.veg-card:hover > .img-container .veg-img{
    opacity:0.9;
}
