.cartContainer{
    background-color: white;
    border-radius: 10%;
    box-shadow: white;
    padding: 10%;
    font-size: 14px;
}

.checkoutContainer {
    align-items: center;
    display: flex;
    justify-content: center;
}

.header {
    font-weight: bold;
    font-size: 18px;
}

.leftsub {
    text-align: left;
}

.rightsub {
    text-align: right;
    float: right;
}