.container {
    width: 100%;
}
.images{
    width: 15%;
    margin: 1%;
    display: inline-block;

}

.small-img{
    width: 90%; 
    display:inline-block;
}

.central { 
    width:35%;
    margin: 1%;
    display:inline-block;
}

.big-image {
    width: 100%;
    display: block;
    margin:auto;

}

.detail-description{
    width:40%;
    margin: 3%;
    display:inline-block;
}

.buttons{
    display: inline-block;
    margin: 3%;
}

.h2sub {
    font-size: 30px;
    color: #104E29
}

.psub {
    font-size: 14px;
}