/* .dropdown-item-button {
    border-radius: 20px; 
}

.entry {
    padding: 2rem;
}

.title {
    text-align: center;
    color: gray;
} */

.add-merch-entry{
    margin: 10px;
}

.add-merch-button {
    float:right;
    margin: 20px;
}

.addItemDel{
    width: 20px;
}

.add-item-button{
    width: 100%;
    display: block;
}

.add-item-button button{
    margin-left: 42%;
}