/* Source: https://github.com/JumboCode/Documentary-Songwriters/blob/master/client/src/creators/CreatorBlock.css */
.itemContainer{
    display:inline-block;
    width:45%;
    margin: 0.5% 2% 0.5% 2%;
    align-items: center;
}

.itemBlock{
    width: 100%;
    height: 145px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 1px 3px 6px #00000029;
    border-radius: 30px;
    opacity: 1;
    padding: 15px;
    align-items:center;

}

.itemColumn{
    display:inline-block;
    width:40%; 
    text-align:left;
    padding:12px;
}

.itemColumn-small{
    display:inline-block;
    width:50%; 
    text-align:right;
    padding-left:2%;
}

.itemColumnRight {
    padding-left: 3%;
}

p.itemName {
    font-size: 16px;
}

.itemColumn-img{
    display:inline-block;
    width:20%; 
    text-align:left;
    padding:12px;
}
.prod-image {
    display: inline-block;
    width: 80px; 
    height: 80px;
    border-radius: 25px;
    margin: auto;
}

@media screen and (max-width: 950px) {
    .prod-image {display:none;}
    .itemContainer {width: 90%}
}

.orderColumn {
    display:inline-block;
    width:45%; 
    text-align:left;
    padding:0 15px 0 15px;
}

.orderBlock{
    width: 100%;
    opacity: 1;
    /* padding: 5px; */
    align-items:center;
}