/* @media all and (min-width: 480px) {
  .Login {
    margin: auto;
    width: 27%;
    padding: 10px;
  }
  
  h1 {
    text-align: center;
  }

  .textinput {
    border-radius: 20px;
    width: 100%;
    padding: 10px 20px;
    margin: 3px, 0;
  }

  #LoginButton{
    border-radius: 20px;
    width: 30%;
    padding: 7px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  #Signin{
    text-align: center;
  }

  #ErrorBox {
    vertical-align: top;
    height:40px;
    color: red;
  }

  label {
    margin: 3%;
  }

  input:focus {
    outline: none;
  }
} */

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }

  .errorContainer {
    height:18px;
    color: red;
  }
}