.navContainer {
    text-align: justify;
    border-radius: 0 0 30px 30px;
    border-style: none;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    box-shadow: 0px 1px 6px 0px rgba(62, 78, 65, 0.5);
}

.nav-button {
    margin-right:20px;
    border-radius: 25px;
    color: white;
    background-color: rgb(49, 148, 49);
    border: none;
}

.nav-pad {
    padding: 5px 15px 5px 15px;
}

.button-container {
    margin-left: auto;
    padding-right: 40px;
}

.nav-button:focus {
    outline: none;
}

.cart-image {
    padding-right: 8px;
}