.Login form {
  max-width: 300px;
  margin: auto;
}

.errorContainer {
  min-height:19.5px;
  margin: -10px 0 0 0;
}

.Login .modal-content {
  background-image: url('/static/loginBackground.jpg');
  color: white;
}

.login-modal-content{
  padding: 15%;
}