h1 {
	color: green;
	width: 450px;
}

.timeline-component {
	margin: auto;
	width: 90%;
	margin-bottom: 100px;
	padding: 50px;
}

.timeline {
	margin: 50px 60px; /*temporary values*/
	height: 15px;
	background-color: #27AE60;
}

.timeline-items {
	margin-left: -10px;
	margin-right: -10px;
	margin-top: -12px;
	display: flex;
	justify-content: space-between;
}

.timeline-item {
	position: relative;
}

.timeline-item::before {
	content: '';
	width: 50px;
	height: 50px;
	background-color: #27AE60;
	display: block;
	border-radius: 100%;
	margin-top: -20px;
}

.steps {
	position: absolute;
	color: #27AE60;
	font-size: 20px;
	top: 30px;
	left: 50%;
	transform: translateX(-50%);
	width: 200px;
	padding: 5px 10px;
	text-align: center;
}

.pickup-component-box {
	background-color: #f1f1f1;
	width: 90%;
	height: 500px;
	border-radius: 25px;
	padding: 50px;
	margin-top: 150px;
	margin: auto;
}

.pickup-info {
	width: 50%;
}