h1 {
	color: green;
}

.timeline {
	margin: 50px 60px; /*temporary values*/
	height: 15px;
	background-color: green;
}

.timeline-items {
	margin-left: -10px;
	margin-right: -10px;
	margin-top: -12px;
	display: flex;
	justify-content: space-between;
}

.timeline-item {
	position: relative;
}

.timeline-item::before {
	content: '';
	width: 50px;
	height: 50px;
	background-color: green;
	display: block;
	border-radius: 100%;
	margin-top: -20px;
}

.steps {
	position: absolute;
	top: 30px;
	left: 50%;
	transform: translateX(-50%);
	width: 100px;
	padding: 5px 10px;
	border-radius: 5px;
	text-align: center;
}