.add-produce-entry{
    margin: 20px;
}

.add-produce-button {
    float:right;
    margin-right: 20px;
    margin-bottom: 20px;
}

.add-produce-drop {
    width: 100%;
    height: 35px;
    border-color: rgb(221, 218, 218);
    border-radius: 5px;
}